%h1 New Post

= form_for :post, url: posts_path do |f|
  %p
    = f.label :name 
    = f.text_field :name
    %br
    = f.label :email
    = f.text_field :email
    %br
    = f.label :subject
    = f.text_field :subject
    %br
    = f.label :comment
    = f.text_field :comment
    %br
    = f.submit
